.location-form {
  height: calc(100% - 65px);
  width: 66%;
  margin: 65px auto 0px auto;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}

.location-form-half {
  width: 50%;
}

.location-form-input {
  width: 385px;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding-left: 10px;
}

.location-form-half h2 {
  font-size: 22px;
  color: #484848;
}

.location-form h4 {
  margin-bottom: 5px;
  color: #484848;

}

.location-submit {
  background: rgb(0, 166, 153);
  color: white;
  padding: 10px 22px;
  border: 1px solid rgb(0, 166, 153);
  border-radius: 3px;
  margin-top: 10px;
}

.location-form-image {
  background-image: asset-url("hostform.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 500px;
  width: 400px;
}
