.nav-buttons {
  list-style: none;
}


.navbar {
  border-bottom: 1px solid #ccc;
  /*height: 63px;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.nav-logo {
  display: block;
  width: 120px;
  border-right: 2px solid #ccc;
  padding: 10px 20px;
}


.nav-search {
  display: block;
  padding: 10px 20px;
  flex-grow: 1;
}

.nav-buttons {
  display: flex;
}

.nav-buttons li {
  padding: 10px 20px;
  border-right: 1px solid #ccc;
  font-size: 15px;
}

.nav-buttons li:hover,
.nav-logo:hover {
  background: rgb(245, 245, 245);
}
