.nav-buttons {
  list-style: none;
}

.navbar {
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: block;
  width: 120px;
  border-right: 2px solid #ccc;
  padding: 22px 20px;
  font-size: 13px;
}

.nav-search {
  display: block;
  padding: 10px 20px;
  flex-grow: 1;
  font-size: 13px;
}

.nav-buttons {
  display: flex;
}

.nav-buttons > li {
  padding: 22px 20px;
  border-right: 1px solid #ccc;
  font-size: 13px;
}

.nav-buttons > li:first-child {
  padding: 17px 15px;
}

.nav-buttons > li:hover,
.nav-logo:hover {
  background: rgb(245, 245, 245);
}

.profile-dropdown {
  display: none;
  list-style: none;
  position: absolute;
  right: 0;
  bottom: -63px;
  border: 1px solid #000;

}

.nav-user-info {
  position: relative;
  display: block;
}

.nav-user-info:hover .profile-dropdown {
  display: block;
}

.profile-dropdown li {
  width: 285px;
  height: 60px;
  display: flex;
}

.nav-logout {
  margin-left: 25px;
}

.nav-create-host {
  padding: 5px 5px;
  border: 2px solid #ccc;
}
