.reviews {
  width: 1030px;
  margin: 0 auto;
}

.reviews ul {
  list-style: none;
  width: 700px;
}

.review-body {
  border-top: 1px solid #ccc;
}

.review-body h3 {
  padding-left: 40px;
  font-size: 24px;
  color: #484848
}

.review-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.review-list-item:first-child {
  border-top: 1px solid #ccc;
}

.review-list-item:last-child {
  border-bottom: none;
}

.review-details {
  width: 500px;
  color: #484848;
  font-size: 13px;
  margin-left: 60px;
}

.review-form {
  width: 700px;
}

.review-form h4 {
  padding-left: 40px;
}

.review-form textarea {
  border: 1px solid #8e8d8d;
  margin-left: 40px;
}

.review-submit {
  display: block;
  margin-left: 40px;
  background: rgb(34, 140, 186);
  color: white;
  padding: 10px;
}

.review-submit:hover {
  cursor: pointer;
  background: rgb(0, 119, 171);
}

.reviewer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
}

.review-image {
  height: 60px;
  width: 60px;
  border: 1px solid #ccc;
  border-radius: 50%;
}
