.search-results-page {
  position: fixed;
  top: 65px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.index-half {
  width: 60%;
}

.map-half {
  width: 40%;
}

#map-container {
  width: 100%;
  height: 100%;
}

.app-div {
  overflow: hidden;
}
